/* src/App.css */

/* Regras globais para o corpo da página */
body, html, #root {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Isso remove as barras de rolagem */
}

/* O container do Canvas irá ocupar a tela inteira */
.fullscreen-container {
  width: 100vw;  /* 100% da largura da janela */
  height: 100vh; /* 100% da altura da janela */
}